@import url('https://fonts.googleapis.com/css?family=Rubik:300,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#fdfdfd;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  display: inline-block;
}

.intro {
  margin-top:15vh;
  color:#333;
}

.name {
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  line-height: 1;
  color: #333
}

.notes {
  margin-bottom: 15px;
  margin-top: -2px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.corners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.corners a{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 30px 100px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #666;
  -webkit-box-shadow: 0 0 3px #e0e0e0;
  -moz-box-shadow: 0 0 3px #e0e0e0;
  box-shadow: 0 0 3px #e0e0e0;
}

.corners a:hover{
  background: #e5e5e5;
}