/* .iib-c-embed {
	background-color: 		#EFEBE4 !important;
} */


#chart {
	margin-top: 			20px;
	width: 					96%;
	margin-left: 			2%;
}

#mavericksCredits {
	width: 					96%;
	margin-left: 			2%;	
}

#mavericksCredits p {
	text-align: 			center;
	font-family: 			'Varela Round', sans-serif !important;
	font-size: 				14px !important;
	margin: 				0;
}

#mavericksCredits a:hover {
	color: 					black !important;
}

.creditSVG {
	width:					25% !important;
	margin-left: 			auto;
	margin-right: 			auto;
	display: 				block;
	position: 				relative;	
}

#iib-credits {
	margin-top:				50px;
	margin-bottom: 			10px;	
}

#kib-line {
	margin-top: 			20px !important;
	margin-bottom: 			0px !important;	
}

#kib-credits {
	margin-top:				-5px;
	margin-bottom: 			10px;	
}

.hidden {
	display: 				none !important;
}

#arrow, #bigArrow {
	fill:					#4D4D4D;
}

/* Tooltip */

#tooltip {
	position: 				absolute;
	width: 					auto;
	height: 				40px;
	padding: 				0px 10px;
	background: 			#DDDDDD;
	-webkit-border-radius: 	6px;
	-moz-border-radius: 	6px;
	border-radius: 			6px;
	z-index: 				20;
	display:				flex;
	align-items:			center;	
	
}

#insultTooltip {
	position: 				absolute;
	height: 				40px;
	z-index: 				20;
	display:				flex;
	align-items:			center;	
	background: 			#DDDDDD;
	-webkit-border-radius: 	6px;
	-moz-border-radius: 	6px;
	border-radius: 			6px;
	padding: 				0px !important;
	
}

#tooltip p {
	color: 					#333333 !important;
	font-family: 			'Cabin Condensed', sans-serif !important;
	font-size: 				15px !important;
	cursor: 				default !important;
	text-align: 			right;
}

#insultTooltip p {
	color: 					#333333 !important;
	font-family: 			'Cabin Condensed', sans-serif !important;
	font-size: 				15px !important;
	cursor: 				default !important;
	background: 			#DDDDDD;
	-webkit-border-radius: 	6px;
	-moz-border-radius: 	6px;
	border-radius: 			6px;
	padding: 				10px 10px !important;
	line-height: 			100% !important;
	text-align: 			right;
	margin-left: 			auto;
	margin-right: 			0;
}

/* Legend */

.legendRect {
	cursor: 				pointer;
}

.legendLabel {
	fill: 					#333333 !important;
	font-family: 			'Cabin Condensed', sans-serif !important;
	font-size: 				15px !important;
	pointer-events: 		none;
	cursor: 				default;
	text-anchor:			middle;
	text-transform: 		uppercase;
}

/* Header */

.headerRect {
	fill: 					#999;
	cursor: 				pointer;
}

#heresyYearHeader {
	cursor:					pointer;
}

.headerText {
	fill: 					white;
	font-family: 			'Cabin Condensed', sans-serif !important;
	font-size: 				15px !important;
	font-weight: 			bold !important;
	text-transform: 		uppercase;
	pointer-events: 		none;
	cursor: 				default;
}

.centralLine {
	fill: 				none;
	stroke:				#4D4D4D;
	stroke-width:		4;
}

.guideLines {
	fill:				none;
	stroke:				#999;
	stroke-width:		1;
	stroke-dasharray:	3, 3;
}

.axisNumber {
	fill: 				#999 !important;
	font-family: 		'Cabin Condensed', sans-serif !important;
	font-size: 			15px !important;
	pointer-events: 	none;
	cursor: 			default;
	text-anchor:		middle;
}

.genderLegend {
	font-family: 		'Cabin Condensed', sans-serif !important;
	font-size: 			15px !important;
	cursor: 			pointer;
	text-decoration: 	underline;
}

.orderArrows {
	pointer-events: 	none;	
}


/* Heresy Year Bubbles */

.faceBubble {
	stroke:				#333333;
	stroke-width:		4px;
	cursor: 			pointer;
}

.yearLabel {
	fill: 				#333333 !important;
	font-family: 		'Cabin Condensed', sans-serif !important;
	font-size: 			14px !important;
	pointer-events: 	none;
	text-anchor:		middle;	
}

.faceSVG {
	pointer-events: 	none;
}


/* Heresy Age */

.heresyAgeLine, .pariahLine {
	fill: 				none;
	stroke: 			#4D4D4D;
	stroke-width:		10px;
}


.heresyAgeCircle {
	fill: 				#333333;
	stroke: 			none;
}

.avgLine {
	fill:				none;
	stroke:				#999999;
	stroke-width:		2;
}

.avgLabel {
	text-anchor:		middle;
	fill: 				#999999 !important;
	font-family: 		'Cabin Condensed', sans-serif !important;
	font-size: 			13px !important;
	cursor: 			default;
	pointer-events: 	none;
	text-transform: 	uppercase;
}

/* Pariah Label */

.pariahLabel {
	text-anchor:		end;
	fill: 				#333333 !important;
	font-family: 		'Cabin Condensed', sans-serif !important;
	font-size: 			14px !important;
	cursor: 			default;
	pointer-events: 	none;
}


/* Recognition Type */


.recognitionLabel, .insultLabel {
	fill: 				#333333 !important;
	font-family: 		'Domine', serif !important;
	font-size: 			16px !important;
	cursor: 			default;
}


/* Name Labels & Idea */

.nameContainer {
	color: 				#333333 !important;
	font-family: 		'Cabin Condensed', sans-serif !important;
	cursor: 			default;
	position: 			absolute;
	display:			flex;
	align-items:		center;
	justify-content:	flex-end;
}


.ideaCell, .recognitionCell, .insultCell {
	color: 				#333333 !important;
	cursor: 			default;
	position: 			absolute;
	display:			flex;
	align-items:		center;
}

.recognitionText, .insultText {
	font-family: 		'Cabin Condensed', sans-serif !important;
	font-size: 			12px !important;
	text-transform: 	uppercase;
}

.ideaText {
	margin: 			0 !important;
	padding: 			0 !important;
	color: 				#4D4D4D !important;
	line-height: 		12px !important;
	font-family: 		'Domine', serif !important;
	font-size: 			10px !important;
}

.ideaText a {
	text-decoration: 	none !important;
}

.recognitionText {
	margin: 			0 !important;
	padding: 			0px 8px 0px 8px;
}

.insultText {
	color: 				white;
	margin: 			0 !important;
	padding: 			0px 8px 0px 8px;
}

.nameLabel {
	text-align: 		right;
	line-height: 		100% !important;
	padding-bottom: 	3px !important;
}



.surnameLabel {
	padding: 			0px 5px 0px 5px;
	display: 			inline;
	margin-left: 		auto;
	text-transform: 	uppercase;
	color: 				#333333 !important;
	text-align: 		right;
	text-decoration: 	none !important;
	justify-content:	flex-end;
	line-height: 		95% !important;
	font-size: 			22px !important;
}

.nameCell {
	margin-left: auto;
	text-align: 		right;
}

.nameCell p {
	margin: 			0px 0px 1px 0px;
}

.nameCell a {
	text-decoration: 	none !important;
}



@media screen and (min-width: 43.75em) {

	/* > 700px */
	
	.ideaText {
		line-height: 		13px !important;
		font-size: 			12px !important;
	}

	.recognitionText, .insultText {
		font-size: 			12px !important;
}
	
}


@media screen and (min-width: 57em) {

	/* > 900px */
	
	.ideaText {
		line-height: 		14px !important;
		font-size: 			13px !important;
	}

	.recognitionText, .insultText {
		font-size: 			14px !important;

	
}

@media screen and (min-width: 62.5em) {

	/* > 1000px */
	
	.ideaText {
		line-height: 		15px !important;
		font-size: 			13px !important;
	}
	
	.recognitionText, .insultText {
		font-size: 			16px !important;

	
}

@media screen and (min-width: 68.75em) {

	/* > 1100px */
	
	.ideaText {
		line-height: 		17px !important;
		font-size: 			14px !important;
	}

	
}