* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: sans-serif;
  font-size: 18px;
}

.map-wrapper {
  height: 400px;
  width: 600px;
  border: 2px solid #333;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin: 10px;
  max-width: 300px; /* ho podem definir al JS*/
  min-width: 100px;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 20px;
}

.leaflet-popup .leaflet-popup-tip {
  background: #333;
}

.leaflet-popup-close-button {
  display: none;
}

img {
  width: 200px;
}
