.iib-after-viz {
  background:#fff;
  color:#333 !important;
}
.iib-after-viz p,.iib-after-viz h2 {
  color:#333 !important;
}
.iib-viz-section--actions {
  padding-top:18px !important;
}
.iib-after-viz img.alignleft {
  width:100px;height:auto;
}
/*#mavericks {
  height:4800px !important;
}*/

